<a href="https://colab.research.google.com/github/nidhipatel8/Blog/blob/master/MidtermLabPart3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# PART III reate python program from Pandas modules 

#9 Change 1d array from 0 to 8 to 3x3 dataframe(matrix)

import numpy as np
import pandas as pd
A = np.array([0,1,2,3,4,5,6,7,8])
B = np.reshape(A, (-1, 3))
numpy_data = np.array(B)
df = pd.DataFrame(data=numpy_data, index=["row1", "row2","row3"], columns=["column1", "column2","column3"])
print(df)

      column1  column2  column3
row1        0        1        2
row2        3        4        5
row3        6        7        8

In [2]:
#10 Calculate the Euclidean distance from two 1d arrays, such as 
#a = [1, 2, 3] and b = [4, 5, 6]

from scipy.spatial import distance
p1 = [1, 2, 3]
p2 = [4, 5, 6]
d = distance.euclidean(p1, p2)
print("Euclidean distance: ",d)

Euclidean distance:  5.196152422706632

In [8]:
#11 Only import odd number rows from a csv file

import numpy as np
import pandas as pd

data = np.read_csv(r'\IRIS.CSV')
data = pd.DataFrame(data[::2])

AttributeError: ignored

In [5]:
#12 Substitute all elements in diagonals to 0 in a 5x5 dataframe(matrix) 

import numpy as np
import pandas as pd
df = pd.DataFrame(np.random.rand(5,5))
df.values[[np.arange(df.shape[0])]*2] = 0
print(df)

          0         1         2         3         4
0  0.000000  0.067455  0.005530  0.760562  0.144357
1  0.182748  0.000000  0.858175  0.499602  0.811945
2  0.134839  0.741072  0.000000  0.271669  0.989562
3  0.130386  0.597699  0.550406  0.000000  0.531707
4  0.444665  0.284388  0.321549  0.147157  0.000000

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.

In [ ]:
#13 Separate a dataframe 80% to trainingset and 20% as testset

split <- round(nrow(mydata) * 0.80

#create a training set called train using that index

mydata[1 : split , ]

#create a test set called tesr using that index

mydata [(split + 1): nrow(mydata) , ]