<a href="https://colab.research.google.com/github/nidhipatel8/Blog/blob/master/MidtermLabPart1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# PART I Write python programs by the functions in Numpy  

#1 Create 3x3 matrix with random number elements

import random
Matrix = [[random.randint(0,100) for row in range(3)] for col in range(3)]
print('3D Matrix: ', Matrix)

3D Matrix:  [[51, 58, 46], [65, 26, 58], [4, 49, 73]]

In [3]:
#2 Donâ€™t change original array, substitute even numbers in it to -1, such as
 #a = [11, 12, 13, 14]
 #b = [11, -1, 13, -1]

a = [11, 12, 13, 14]
b = list(map(lambda x: -1 if x%2==0 else x, a))
print('a: ', a)
print('b: ', b)

a:  [11, 12, 13, 14]
b:  [11, -1, 13, -1]

In [4]:
#3 Extract the common elements from two arrays, like
#a = [11,12, 13, 14] and b = [11,13, 15, 16]
#c = [11, 13]

a = [11, 12, 13, 14]
b = [11, 13, 15, 16]
c = list(filter(lambda x: x in b, a))
print('a: ',a)
print('b: ',b)
print('c: ',c)

a:  [11, 12, 13, 14]
b:  [11, 13, 15, 16]
c:  [11, 13]

In [5]:
#4 Swap 2 rows in a 3x3 matrix

import random
M = [[random.randint(0,100) for row in range(3)] for col in range(3)]
print('Before row replacement: ',M)
row = 1
row_replace = 2
M[row], M[row_replace] = M[row_replace], M[row]
print('After row replacement: ',M)

Before row replacement:  [[75, 86, 40], [44, 26, 35], [58, 39, 54]]
After row replacement:  [[75, 86, 40], [58, 39, 54], [44, 26, 35]]

In [6]:
#5 Calculate mean and standard deviation in an integer array

import random
from statistics import stdev, mean
a = [random.randint(1,100) for _ in range(random.randint(0,20))]
print('a: ',a)
print('mean: ', mean(a))
print('standard deviation:', stdev(a))

a:  [96, 62, 42, 81, 21, 20, 40, 100, 9, 85, 33, 74, 12, 89, 98, 84, 66, 86, 99, 28]
mean:  61.25
standard deviation: 32.222703666498056

In [7]:
#6 Convert string 'P' and 'NP' to number 0 and 1 respectively in a given 1d array, such as 
#a = [1, 2, 3, 'P', 4, 5, 6, 'NP']
#b = [1, 2, 3, 0, 4, 5, 6, 1]

a = [1, 2, 3, 'P', 4, 5, 6, 'NP']
b = list(map(lambda x:0 if x=='P' else(1 if x=='NP' else x), a))
print('a: ', a)
print('b: ', b)

a:  [1, 2, 3, 'P', 4, 5, 6, 'NP']
b:  [1, 2, 3, 0, 4, 5, 6, 1]